.avatar-block {
  position: relative;
  float: left;
}

.avatar {
  height: 60px;
  width: 60px;
}

.avatar-flag{
  width: 28px;
  height: 21px;
  position: absolute;
  right: 10px;
  bottom: 0px;
}

.avatar-white-flag{
  background-color: white;
}
