.performance-bubble-container{
    text-align: center;
}

.performance-bubble-outer {
  display: inline-block;
  margin-left: 5%;
  margin-right : 5%;
    text-align: center;
}

.performance-bubble-label {
  margin: 0;
}

.performance-bubble-top {
  border-radius: 10px 10px 0px 0px;
  background-color: lightblue;
  padding: 0 10px 0 10px;
}

.performance-bubble-bottom {
  border-radius: 0px 0px 10px 10px;
  background-color: yellow;
  padding: 0 10px 0 10px;
}
