/* General */

.overflow-item {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.flex-item {
  flex: 1;
  min-width: 0;
}

.border-item {
  border-width: 1px;
  border-style: solid;
}

.info-item {
  margin: 10px;
  padding: 3px;
}

.header-size {
  font-size: 28px;
}

.big-size-font {
  font-size: 22px;
}

.small-size-font {
  font-size: 8px;
}

.medium-size-font {
  font-size: 16px;
}


/* PlayerCard */

.player-card-outer {
  padding: 5px;
}

.player-card-inner {
  display: flex;
  flex-flow: column nowrap;
  border-radius: 10px;
  background-color: #f5f5f5;
}

.player-card-name {
    text-align: center;
}
