/* General */

.overflow-item {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.flex-item {
  flex: 1;
  min-width: 0;
}

.border-item{
  border-width: 1px;
  border-style: solid;
}

/* PlayerCard */

.outer-player-card {
  padding: 3px;
}

.inner-player-card {
  display: flex;
  flex-flow: column nowrap;
  border-radius: 10px;
  background-color: lightgrey;
}

.player-name {

  font-size: 30px;
  font-weight: bold;
  text-align: center;
}
